th .formtitles {
    text-align:right;
    margin-right:3px;
}

/* fieldset {
    margin-left:20px;
    width:800px;
} */

.header-underline {
    border-bottom:2px solid gray;
}



.add .fa-plus {
    color:greenyellow !important;
}

.formDiv {
    margin-top:10px;
   
}

.button-green{
    background-color: green !important;
    color:white !important;
}